<div>
  <app-cp-mov-carousel></app-cp-mov-carousel>
  <app-cw-carousel></app-cw-carousel>
  <app-pop-mov-carousel type="Popular Movies"></app-pop-mov-carousel>
  <app-pop-mov-carousel type="Top Rated Movies"></app-pop-mov-carousel>
  <app-pop-mov-carousel type="Trending Movies"></app-pop-mov-carousel>
  <app-pop-mov-carousel type="Popular TV Shows"></app-pop-mov-carousel>
  <app-pop-mov-carousel type="Top Rated TV Shows"></app-pop-mov-carousel>
  <app-pop-mov-carousel type="Trending TV Shows"></app-pop-mov-carousel>
</div>