
ngb-carousel {
    margin-top: 2%;
    max-width: 74%;
    margin: 2% auto;
}

.picsum-img-wrapper:hover {
    display:inline-block;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgba(0,0,0,0.8) 75%); /* W3C */
}

.picsum-img-wrapper:hover img{
    position:relative;
    z-index:-1;
    transform: scale(1.05);
}

.picsum-img-wrapper p {
    visibility: hidden;
}

.picsum-img-wrapper:hover p {
    visibility: visible;
    margin-bottom: 0;
}


.carousel-caption {
    text-align: left;
    left: 5%;
    bottom: 0;
    padding-bottom: 0;
    font-size: 1.7rem;
    padding-bottom: 3%;
    padding-top: 3%;
}

:host ::ng-deep .carousel-control-prev {
    width: 5%;
}

:host ::ng-deep .carousel-control-next {
    width: 5%;
}

:host ::ng-deep .carousel-indicators {
    width: 30%;
    margin: 0 auto 2%;
}
